header {
    color: #808080;
    font-size: 1em;
    padding:5px;
    text-align:center;
    text-transform: uppercase;
}   

header img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size:3em;
    text-align:center;
    padding:5px; 
}

h2 {
    font-size:2em;
    text-align:center;
    padding:5px; 
}

p {
    font-size:1em;
    text-align:justify;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

body {
    background-image: url("food/food.png");
    background-repeat: repeat;
   
}

body p {
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

img {
    border-radius: 15px;
}

nav {
    float: none;    
    text-align:center;
    padding-left: 0%;
    padding-right: 5%;
}

nav h3 {
    text-align: center;
}

aside {
    float: left;
    padding-left: 5%;
    padding-bottom: 5%;
}

article {
    float: left;
    width: 50%;
    padding-left: 5%;
}


aside h2 {
    font-size:1.5em;
    text-align:left;
    padding:0px;     
}

aside h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style-position: inside;
}

.votingStars {
    font-size:3em;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
 
}

.votingStars span {
    cursor: pointer;
}

.rating {
    font-size:1em;
    text-align:center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
}

#wait {
    text-align: center;
}

@media screen and (max-width: 500px) {
    aside {
        float: none;
        width: 100%;
        padding-left: 25%;
        text-align: left;
    }

    article {
        float: none;
        width: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }
}